
<!--<br>-->
<!--<div id="map"  ></div>-->


<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->


<!--<div class="card-body">-->
  <!--<div class="row">-->
    <!--<div class="col col-12 md-6">-->
      <!--<form  #frmLocations="ngForm">-->


        <!--<p class="form-group">-->
          <!--<label for="txtLat">Location Lat</label>-->
          <!--<input  name="txtLat"  id="txtLat" class="form-control" type="text" value= {{lati}}>-->
        <!--</p>-->

        <!--<p class="form-group">-->
          <!--<label for="txtLng">Location Lng </label>-->
          <!--<input  name="txtLng"  id="txtLng" class="form-control" type="text" >-->
        <!--</p>-->


        <!--<div>-->
          <!--<button type="submit" class="btn btn-primary">Save</button>-->
          <!--&nbsp;-->
          <!--<button  type="button" class="btn btn-warning">Clear</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<br>
<div id="map"></div>


