<!--<div class="content-header">-->
<!--<div class="container-fluid">-->
<!--<div class="row mb-2">-->
<!--<div class="col-sm-6">-->
<!--<h1 class="m-0 text-dark"><marquee>Manage Locations</marquee></h1>-->
<!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--<div class="col-sm-6">-->
<!--<ol class="breadcrumb float-sm-right">-->
<!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--<li class="breadcrumb-item active">Manage Locations</li>-->
<!--</ol>-->
<!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.content-header &ndash;&gt;-->

<!--&lt;!&ndash; Main content &ndash;&gt;-->
<!--<section class="content">-->



<!--<table class="table table-hover" style="background-color: white">-->
<!--<thead style="background-color: black;color: white">-->
<!--<tr>-->
<!--<th scope="col">ID</th>-->
<!--<th scope="col">Lat</th>-->
<!--<th scope="col">Lng</th>-->

<!--<th scope="col"></th>-->

<!--</tr>-->
<!--</thead>-->
<!--<tr *ngFor="let location of locations | paginate: { itemsPerPage: 7, currentPage: p }"-->
<!--(click)="selectLocation(location)" [class.selected]="location==selectedLocations">-->
<!--<td>{{location.id}}</td>-->
<!--<td>{{location.lat}}</td>-->
<!--<td>{{location.lng}}</td>-->
<!--<td>-->
<!--<i (click)="deleteLocation(location)" class="fa fa-trash fa-2x"></i>-->
<!--</td>-->
<!--</tr>-->


<!--</tbody>-->
<!--<tfoot>-->
<!--<tr>-->
<!--<td colspan="4">-->
<!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
<!--</td>-->
<!--</tr>-->
<!--</tfoot>-->
<!--</table>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; /.container-fluid &ndash;&gt;&ndash;&gt;-->
<!--</section>-->


<div>ddd</div>
