<!-- Content Header (Page header) -->
<div>
<br>



<div id="map" ></div>




  <br><br><br><br> <br>
  <br><br><br><br> <br>
  <br><br><br><br> <br>
  <br>

  <button type="button" class="btn btn-primary" (click)="viewAll()">View all Locations</button>
  <br><br>
  <section class="content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 col-12">
          <table class="table table-hover" style="background-color: white" id="tblLocation">
            <thead style="background-color: black;color: white">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Latitudes</th>
              <th scope="col">Longitudes</th>
              <th scope="col"></th>

            </tr>
            </thead>
            <tr *ngFor="let coodinate of coodinates | paginate: { itemsPerPage: 7, currentPage: p }"
                >
              <td>{{coodinate.id}}</td>
              <td>{{coodinate.lat}}</td>
              <td>{{coodinate.lng}}</td>
              <td>
                <i (click)="deleteCoodinate(coodinate)" class="fa fa-trash fa-2x"></i>
              </td>
            </tr>


            </tbody>
            <tfoot>
            <tr>
              <td colspan="4">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>


</div>
